
/* ----Google fonts---- */

@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani');

/* -------------------- */

html {
  font-size: 100%;
  font-family: 'Mukta Vaani', sans-serif;
}

.avatar {
  text-align: center;
  background-color: #7DCFB6;
}

.avatar_img {
  margin: 30px 0;
  width: 100px;
  border-radius: 50%;
}

.card-body {
  color: #797676;
}
